{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-primary"><i class="bi-arrow-right"> {{ button_label|default('Salvar') }}</i></button>
{{ form_end(form) }}


<style>
#categoria > .mb-3:nth-child(2) {
    display: none;
}
</style>