{% extends 'base.html.twig' %}

{% block title %}Editando Caracteristicas - {{ caracteristica.cor }}{% endblock %}

{% block body %}
    <h1 class="fs-5 text">Editando uma Caracteristica</h1>

    {{ include('caracteristicas/_form.html.twig', {'button_label': 'Atualizar'}) }}
    {{ include('caracteristicas/_delete_form.html.twig') }}
{% endblock %}
