{% extends 'base.html.twig' %}

{% block title %}Edit Caracteristicas{% endblock %}

{% block body %}
    <h1>Edit Caracteristicas</h1>

    {{ include('caracteristicas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_caracteristicas_index') }}">back to list</a>

    {{ include('caracteristicas/_delete_form.html.twig') }}
{% endblock %}
