{% extends 'base.html.twig' %}

{% block title %}New Caracteristicas{% endblock %}

{% block body %}
    <h1 class="fs-5 text">Criar nova Caracteristica</h1>

    {{ include('caracteristicas/_form.html.twig') }}

{% endblock %}
