{% extends 'base.html.twig' %}

{% block title %}New Produtos{% endblock %}

{% block body %}
    <h1 class="fs-5 text">Criar novo Produto</h1>

    {{ include('produtos/_form.html.twig') }}
{% endblock %}
